spring:
  application:
    name: telegram-bot
  datasource:
    url: jdbc:postgresql://localhost:5432/kosign_eFootball_db
    username: postgres
    password: 123079
  jpa:
    hibernate:
      ddl-auto: update
telegram-setting:
  enable: true
  base-url: https://api.telegram.org
  username: salin00_bot
  access-token: 6984760978:AAHsyXH0reE-LGz4Hl8xgSWQ6fkqVn0kgrI


gemini:
  api:
    project-id: kosignefootballbot
    location: us-central1
    modelName: gemini-1.5-flash
    api-key: AIzaSyCiSPyc7X0AXq921IGi9-0J5E0doA6b9m8